<google-map
  center="map.center"
  zoom="map.zoom"
  draggable="true"
  >
  <div ng-repeat="soundLocation in soundLocations">
    <marker
      idKey="soundLocation.randomId"
      coords="{
                latitude: soundLocation.lat,
                longitude: soundLocation.long
            }"
      >
      <marker-label
        content="soundLocation.title"
        anchor="0 0"
        class="soundvenirs-app-map-marker-label">
      </marker-label>
    </marker>
  </div>
</google-map>

<div ng-show="showFindlocationInfo" ng-click="showFindlocationInfo = false" id="soundvenirs-app-findlocation-info">
  <div id="soundvenirs-app-findlocation-info-text">
    Locating your current position, please wait...
  </div>
</div>
