<!DOCTYPE html>
<html>
    <head>
        <title>Soundvenirs</title>
        <link rel="stylesheet" href="/css/default.css">
        <script src="/js/bower_components/jquery/dist/jquery.js"></script>
        <script>
            $(document).ready(function() {
                setTimeout(function() {
                    $('#logo').fadeOut(3000);
                    $('#upload').fadeTo(3000, 0.8);
                }, 2000);
            });
        </script>
    </head>
    <body>
        <div id="logo"></div>
        <div id="upload">
            <form id="form" action="/upload" method="post" enctype="multipart/form-data">
                {{ form_widget(form) }}
                <input type="submit" value="Upload">
            </form>
        </div>
    </body>
</html>